Repository marko-js/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -t codeFrame -c tslint.json

.lintstagedrc:

{
  "*.ts": ["prettier --write", "tslint -t codeFrame -c tslint.json"],
  "*.{js,json,md}": ["prettier --write"]
}

feat: avoid writing to server entries file unnecessarily
  src/index.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

chore(release): 3.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: fix ci link in readme
  README.md
Due: prettier --write

chore: fix ci link in readme
  src/index.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

fix: reduce unecessary client bundle runs
  src/index.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

chore(release): 3.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: allow other plugins to modify the browser input
  src/index.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

fix: issue with assets not being inlined with multi config
  src/__tests__/index.ts
  src/index.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

fix: issue with assets not being inlined with multi config (#22)
  src/__tests__/index.ts
  src/index.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

chore(release): 3.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: issue with multiple browser configs not waiting for eachother
  src/index.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

chore(release): 3.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: support rollup 3
  components/rollup-watch.marko
  components/rollup.marko
  package-lock.json
  package.json
  src/__tests__/fixtures/browser-basic/__snapshots__/index.js
  src/__tests__/fixtures/browser-hydrate-entry-custom-init/__snapshots__/index.js
  src/__tests__/fixtures/browser-hydrate-entry/__snapshots__/index.js
  src/__tests__/fixtures/browser-hydrate-split-component/__snapshots__/index.js
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/browser/src_JMN3.js
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/server/index.js
  src/__tests__/fixtures/isomorphic-custom-serialize/__snapshots__/browser/src_nIy6.js
  src/__tests__/fixtures/isomorphic-custom-serialize/__snapshots__/server/index.js
  src/__tests__/fixtures/isomorphic-no-js/__snapshots__/server/index.js
  src/__tests__/fixtures/server-basic/__snapshots__/index.js
  src/__tests__/index.ts
  src/index.ts
  src/server-entry-template.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

feat: test only in newer node versions BREAKING CHANGE: drop support for node < 16
  .github/workflows/ci.yml
Due: none

chore: resolve ts errors
  package-lock.json
  package.json
  src/server-entry-template.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

fix: inline correct __dirname code for esm
  package.json
  prepend-file-vars.mjs
Due: prettier --write

feat: support rollup 3 (#38)
  .github/workflows/ci.yml
  components/rollup-watch.marko
  components/rollup.marko
  package-lock.json
  package.json
  prepend-file-vars.mjs
  src/__tests__/fixtures/browser-basic/__snapshots__/index.js
  src/__tests__/fixtures/browser-hydrate-entry-custom-init/__snapshots__/index.js
  src/__tests__/fixtures/browser-hydrate-entry/__snapshots__/index.js
  src/__tests__/fixtures/browser-hydrate-split-component/__snapshots__/index.js
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/browser/src_JMN3.js
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/server/index.js
  src/__tests__/fixtures/isomorphic-custom-serialize/__snapshots__/browser/src_nIy6.js
  src/__tests__/fixtures/isomorphic-custom-serialize/__snapshots__/server/index.js
  src/__tests__/fixtures/isomorphic-no-js/__snapshots__/server/index.js
  src/__tests__/fixtures/server-basic/__snapshots__/index.js
  src/__tests__/index.ts
  src/index.ts
  src/server-entry-template.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

chore(release): 4.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: esm issue with duplicated import
  package.json
Due: prettier --write

chore(release): 4.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: inline server-entry-template code to fix esm mode
  src/index.ts
  src/server-entry-template.ts
Due: prettier --write, tslint -t codeFrame -c tslint.json

chore(release): 4.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: add missing exports for rollup.marko files
  package.json
Due: prettier --write

chore(release): 4.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
